version: "3.9"
#это файл для docker compose
services:
  postgres:
    container_name: postgres-sostav
    hostname: postgres-sostav
    image: postgres:13.3
    restart: always
    environment:
      POSTGRES_DB: "dbsostav"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "1234"
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes: 
      - ./data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d
#      - ./init/1.sql:/docker-entrypoint-initdb.d/1.sql
#      - ./init/init-database.sh:/docker-entrypoint-initdb.d/init-database.sh
    ports:
      - "5430:5432"  
  pgadmin:
    container_name: pgadmin4-container
    hostname: pgadmin4-container
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.ru
      PGADMIN_DEFAULT_PASSWORD: admin
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "1234"
#      PGADMIN_PORT: 5050
    volumes:
      - ./pgadmin-data:/var/lib/pgadmin
    ports:
      - "5050:80"
    depends_on:
      - postgres